ul {
    list-style: none;
    padding: 0;
}
#show{
    width: 260px;
    height: 600px;
    overflow: auto;
    border: 1px solid #555555;
}
#qTree{
    overflow: auto;
    height: 600px;
}
.btn_show {
    display: block;
}
.qTree,
.qTree_level{
    margin: 0 5px;
    width: auto;
}
.qTree_level{
    padding: 0 0 0 18px;
}
.qTree_content{
    display: inline-block;
    line-height: 16px;
    white-space: nowrap;
    text-align: left;
    float: left;
    padding-top: 3px;
}
.qTree_node_content{
    width: auto;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}
.btn_expand{
    width: 16px;
    height: 16px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #589BA9;
    color: #154b67;
    vertical-align: middle;
}
.qTree_add_btn,
.qTree_edit_btn,
.qTree_delete_btn,
.qTree_level_up_btn,
.qTree_level_down_btn{
    height: 16px;
    width: 16px;
    margin: 0 1px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.qTree_img {
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    margin: 0;
    vertical-align: bottom;
}
.qTree_folder_img {
    background: url(../images/folder-open.png) round scroll;
}
.qTree_folder_open_img{
    background: url(../images/folder.png) round scroll;
}
.qTree_file_img {
    background: url(../images/file.png) round scroll;
}
.qTree_name{
    width: 90%;
    color: #135443;
    padding-left: 5px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.qTree_node_btn{
    margin-left: 5px;
    display: inline-block;
}
.qTree_add_btn{
    background: url("../images/add.png") round scroll;
}
.qTree_edit_btn{
    background: url("../images/edit.png") round scroll;
}
.qTree_delete_btn{
    background: url("../images/delete.png") round scroll;
 }
.qTree_level_up_btn {
    background: url("../images/level-up.png") round scroll;
}
.qTree_level_down_btn {
    background: url("../images/level-down.png") round scroll;
}



/* 通用（后添加）*/
.nodeBackground {
    background : #ddf7ef;
    color : #417556;
}